{% extends 'ghosts/_base.html' %}

{% block banner %}
All ghosts
{% endblock %}

{% block content %}
  <ul class="list">
    {% for ghost in ghosts %}
      <li class="list__item">
          <div class="list__content">
          {% if ghost.user %}
            <h2>{{ ghost.first_name }} "{{ ghost.name }}" {{ ghost.last_name }}</h2>
          {% else %}
            <h2>{{ ghost.name }}</h2>
            <p>{{ ghost.origin }}</p>
            <p>{{ ghost.description }}</p>
          {% endif%}
        </div>
      </li>
    {% endfor %}
  </ul>

  <a class="cta" href="/get-name">👻 Get a Phantom name 👻</a>
{% endblock %}